Repository alexandre-delaloy/flamingops, changes with the owners that .github/CODEOWNERS names for each.
All owners: @blyndusk, @lucaslehot, @Ban0vsky

fix(k8s): #47 - clean ui chart
  deploy/kubernetes/.gitignore
  deploy/kubernetes/charts/flamingops-ui/templates/serviceaccount.yaml
Owners: @blyndusk

fix(k8s): #47 - clean api chart
  deploy/kubernetes/charts/flamingops-api/templates/deploy.yaml
  deploy/kubernetes/charts/flamingops-api/templates/sealed-secret-certs.yaml
  deploy/kubernetes/charts/flamingops-api/templates/secret.yaml
  deploy/kubernetes/charts/flamingops-api/templates/serviceaccount.yaml
  deploy/kubernetes/charts/flamingops-api/values.yaml
Owners: @blyndusk

feat(web): #8 improve views
  web/src/components/dashboard/account/account-general-settings.tsx
Owners: @Ban0vsky

feat(web): #8 remove useless elements, comments useless imports
  web/src/components/dashboard/account-popover.tsx
Owners: @Ban0vsky

feat(web): #8 remove useless elements, comments useless imports
  web/src/components/authentication/amplify-login.tsx
  web/src/components/authentication/auth0-login.tsx
  web/src/components/authentication/firebase-login.tsx
  web/src/components/authentication/jwt-login.tsx
  web/src/components/dashboard/azure/order-drawer.tsx
  web/src/components/dashboard/azure/order-items.tsx
  web/src/components/dashboard/azure/order-list-table.tsx
  web/src/components/dashboard/azure/order-logs.tsx
  web/src/components/dashboard/azure/order-summary.tsx
  web/src/components/dashboard/dashboard-sidebar.tsx
  web/src/components/dashboard/scaleway/customer-emails-summary.tsx
  web/src/components/dashboard/scaleway/customer-invoices.tsx
  web/src/components/dashboard/scaleway/customer-logs.tsx
  web/src/components/dashboard/social/social-connections.tsx
  web/src/components/dashboard/social/social-timeline.tsx
  web/src/pages/dashboard/AWS/index.tsx
  web/src/pages/dashboard/azure/[orderId].tsx
  web/src/pages/dashboard/azure/index.tsx
  web/src/pages/dashboard/invoices/[invoiceId].tsx
  web/src/pages/dashboard/invoices/index.tsx
  web/src/pages/dashboard/scaleway/[customerId]/edit.tsx
  web/src/pages/dashboard/scaleway/[customerId]/index.tsx
  web/src/pages/dashboard/scaleway/index.tsx
  web/src/pages/dashboard/social/feed.tsx
  web/src/pages/dashboard/social/profile.tsx
Owners: @Ban0vsky

upd(wiki): #37 - fix wiki with actual values of project
  README.md
  docs/wiki/CI_CD.md
  docs/wiki/folder_structure.md
  docs/wiki/project_setup.md
Owners: none

feat(web): keep cleaning the views
  web/src/components/dashboard/account-popover.tsx
  web/src/components/dashboard/chat/chat-composer-toolbar.tsx
  web/src/components/dashboard/chat/chat-sidebar.tsx
  web/src/components/dashboard/chat/chat-thread.tsx
  web/src/components/dashboard/dashboard-sidebar.tsx
  web/src/components/dashboard/overview/overview-latest-transactions.tsx
  web/src/components/dashboard/social/social-connections.tsx
  web/src/components/dashboard/social/social-timeline.tsx
  web/src/pages/dashboard/AWS/index.tsx
  web/src/pages/dashboard/account.tsx
  web/src/pages/dashboard/scaleway/index.tsx
Owners: @Ban0vsky

doc(readme): #37 - move AWS to ops deps & remove TODO line
  README.md
Owners: none

doc(readme): #37 - remove an uncomplete sentence
  README.md
Owners: none

upd(wiki): #37 - fix typos
  README.md
  docs/wiki/CI-CD-release-and-container-registry.md
  docs/wiki/Contributing.md
  docs/wiki/Conventions-templates-and-labels.md
  docs/wiki/Folder-structure.md
  docs/wiki/Project-Setup.md
  docs/wiki/_Footer.md
  docs/wiki/_Sidebar.md
  docs/wiki/conventions.md
Owners: none

fix(middlewares) #44 - make createUser work well + move logic from services controllers
  internal/controllers/activeServices.go
  internal/controllers/awsServicesData.go
  internal/controllers/requestedRegions.go
  internal/controllers/swServicesData.go
  internal/controllers/users.go
  internal/middlewares/activeServices.go
  internal/middlewares/awsServicesData.go
  internal/middlewares/requestedRegions.go
  internal/middlewares/swServicesData.go
  internal/middlewares/users.go
  internal/router/router.go
Owners: @lucaslehot

fix(middlewares) #44 - make deleteUser work
  internal/controllers/users.go
  internal/middlewares/users.go
Owners: @lucaslehot

fix(middlewares) #44 - make updateUser work
  internal/controllers/users.go
  internal/middlewares/users.go
Owners: @lucaslehot

fix(queue): - queue iteration
  internal/queue/sendMessage.go
  pkg/models/activeServices.go
Owners: @lucaslehot

fix(queue): - queue iteration
  internal/queue/sendMessage.go
Owners: @lucaslehot

fix(makefile): wiki cmd
  Makefile
Owners: none

doc(readme): reword Flamingops catchprase
  README.md
Owners: none

upd(tf): #37 - add database tf ressource
  .DS_Store
  deploy/terraform/rds.tf
  deploy/terraform/variables.tf
Owners: @blyndusk

upd(tf): #37 - add queue ressource
  deploy/terraform/sqs.tf
  deploy/terraform/variables.tf
Owners: @blyndusk

upd(tf): #37 - typo
  README.md
  deploy/terraform/vpc.tf
Owners: @blyndusk

upd(tf): #37 - add lambda ressource
  deploy/terraform/lambda.tf
  deploy/terraform/outputs.tf
Owners: @blyndusk

fix(jwt): #50 - add id verification to jwt
  internal/middlewares/jwt.go
  internal/router/router.go
  internal/utils/jwt_utils.go
Owners: @lucaslehot

feat(web): add preferences page and improve elements
  web/src/components/authentication/jwt-login.tsx
  web/src/components/dashboard/overview/overview-latest-transactions-scaleway.tsx
  web/src/components/dashboard/scaleway/customer-emails-summary.tsx
  web/src/components/dashboard/scaleway/customer-invoices.tsx
  web/src/components/dashboard/scaleway/customer-logs.tsx
  web/src/pages/authentication/login.tsx
  web/src/pages/dashboard/AWS/index.tsx
  web/src/pages/dashboard/account.tsx
  web/src/pages/dashboard/invoices/[invoiceId].tsx
  web/src/pages/dashboard/invoices/index.tsx
  web/src/pages/dashboard/jobs/companies/[companyId].tsx
  web/src/pages/dashboard/jobs/index.tsx
  web/src/pages/dashboard/scaleway/[customerId]/edit.tsx
  web/src/pages/dashboard/scaleway/[customerId]/index.tsx
  web/src/pages/dashboard/scaleway/index.tsx
  web/src/pages/dashboard/social/feed.tsx
  web/src/pages/dashboard/social/profile.tsx
  web/src/pages/preferences/index.tsx
Owners: @Ban0vsky

fix(jwt): #50 - switch from id usage to jwt for request handling
  internal/middlewares/jwt.go
Owners: @lucaslehot

fix(jwt): #50 - refactoring controllers to work only with jwt
  internal/controllers/sqsHandler.go
  internal/middlewares/activeServices.go
  internal/middlewares/awsServicesData.go
  internal/middlewares/requestedRegions.go
  internal/middlewares/swServicesData.go
  internal/middlewares/users.go
  internal/router/router.go
Owners: @lucaslehot

update .env.sample
  config/.env.sample
Owners: @lucaslehot

update on team page
  .gitignore
Owners: none

remove .DS_Store
  .DS_Store
  worker/.DS_Store
Owners: @lucaslehot

lint
  internal/middlewares/jwt.go
  internal/middlewares/swServicesData.go
  internal/queue/sendMessage.go
  internal/router/router.go
Owners: @lucaslehot

feat(user): #53 - hash passwords
  internal/middlewares/users.go
Owners: @lucaslehot

commenting route
  internal/middlewares/users.go
  internal/router/router.go
Owners: @lucaslehot

upd(front): #17 - updated frontend api calls
  web/src/api/active-services-api.ts
  web/src/api/auth-api.ts
  web/src/api/requested-regions-api.ts
  web/src/api/services-data.ts
  web/src/components/dashboard/account-popover.tsx
  web/src/components/dashboard/account/account-general-settings.tsx
  web/src/components/dashboard/account/account-team-settings.tsx
  web/src/components/dashboard/dashboard-navbar.tsx
  web/src/pages/dashboard/account.tsx
  web/yarn.lock
Owners: @Ban0vsky

upd(swagger): doc
  docs/swagger.yaml
Owners: none

upd(swagger): doc
  docs/index.html
Owners: none

Update README.md
  README.md
Owners: none

.github/CODEOWNERS:

.github/ @blyndusk
ops/ @blyndusk
build/ @blyndusk
deploy/ @blyndusk
scripts/ @blyndusk

cmd/ @lucaslehot
config/ @lucaslehot
internal/ @lucaslehot
pkg/ @lucaslehot
worker/ @lucaslehot

web/ @Ban0vsky
