Repository alexandre-delaloy/flamingops, changes with the owners that .github/CODEOWNERS names for each.
All owners: @blyndusk, @lucaslehot, @Ban0vsky

fix(go): #13 - lint
  internal/middlewares/jwt.go
  internal/middlewares/users.go
  internal/router/router.go
  pkg/forms/user.go
  pkg/models/login.go
  pkg/models/users.go
Owners: @lucaslehot

fix(port): #13 - go api port
  README.md
  cmd/sample-api/main.go
Owners: @lucaslehot

fix(go): #13 - lint
  internal/controllers/users.go
  pkg/models/login.go
Owners: @lucaslehot

fix(go): #13 - lint
  internal/middlewares/secretsManager.go
  internal/middlewares/users.go
Owners: @lucaslehot

refacto(worker): #16 - recycling unused model
  internal/controllers/displayPreferences.go
  internal/controllers/sqsHandler.go
  internal/database/migration.go
  internal/middlewares/displayPreferences.go
  internal/middlewares/users.go
  internal/queue/sendMessage.go
  internal/router/router.go
  pkg/models/requestedRegions.go
Owners: @lucaslehot

feat(worker): #16 - allow manual sqs message posting
  internal/controllers/requestedRegions.go
  internal/controllers/sqsHandler.go
  internal/middlewares/requestedRegions.go
  internal/queue/sendMessage.go
  internal/router/router.go
  pkg/models/requestedRegions.go
Owners: @lucaslehot

upd(jwt): #13 - jwt gestion error free
  deploy/docker-compose.yml
  internal/middlewares/users.go
  internal/router/router.go
  pkg/forms/user.go
  web/src/contexts/amplify-context.tsx
  web/src/contexts/auth0-context.tsx
  web/src/contexts/firebase-auth-context.tsx
Owners: @blyndusk, @lucaslehot, @Ban0vsky

test(cd): api + ui
  README.md
  cmd/sample-api/main.go
  web/.gitignore
Owners: @lucaslehot, @Ban0vsky

test(cd): api + ui
  web/.babelrc
Owners: @Ban0vsky

upd(jwt): #13 - jwt gestion error free
  internal/middlewares/jwt.go
  internal/middlewares/users.go
  internal/router/router.go
Owners: @lucaslehot

hotfix(web): workflow os
  web/package-lock.json
  web/package.json
Owners: @Ban0vsky

feat(worker): #16 - handle postgres connection from worker
  internal/queue/sendMessage.go
  worker/dbConnection.js
  worker/index.js
  worker/servicesCalls/aws/cw_listMetrics.js
  worker/servicesCalls/aws/dynamodb_listTables.js
  worker/servicesCalls/aws/iam_listUsers.js
  worker/servicesCalls/aws/index.js
  worker/servicesCalls/aws/s3_listBuckets.js
  worker/servicesCalls/aws/s3_showBucket.js
  worker/servicesCalls/aws/ses_listIdentities.js
  worker/servicesCalls/aws/sns_listSubscriptions.js
  worker/servicesCalls/aws/sns_listTopics.js
  worker/servicesCalls/aws/sns_listTopicsAndSubscriptions.js
  worker/servicesCalls/aws/sqs_listQueues.js
  worker/servicesCalls/scw/index.js
  worker/servicesCalls/scw/listRdbInstances.js
  worker/servicesCalls/serviceToFunction.js
Owners: @lucaslehot

add(wiki): #37 - wiki skeleton
  Makefile
Owners: none

feat(worker): #16 - retrieve postgres config from worker
  worker/dbConnection.js
  worker/index.js
Owners: @lucaslehot

feat(worker): #16 - using env variables
  .DS_Store
  worker/index.js
Owners: @lucaslehot

feat(worker): #16 - minor tweak
  worker/dbConnection.js
  worker/index.js
Owners: @lucaslehot

fix(middleware): #15 - fix
  cmd/sample-api/main.go
  internal/middlewares/activeServices.go
  internal/middlewares/awsServicesData.go
  internal/middlewares/requestedRegions.go
  internal/middlewares/swServicesData.go
Owners: @lucaslehot

doc(wiki): #37 - docbase
  docs/wiki/CI_CD.md
  docs/wiki/Home.md
  docs/wiki/_Sidebar.md
  docs/wiki/contributing.md
  docs/wiki/conventions.md
  docs/wiki/folder_structure.md
  docs/wiki/project_setup.md
Owners: none

wiki
  LICENSE
  Makefile
  README.md
Owners: none

doc(readme): #37 - update repository readme
  README.md
Owners: none

doc(license): #37 - update repository license
  LICENSE
Owners: none

fix(jwt): #42 - remove json from middlewares
  internal/controllers/users.go
  internal/middlewares/users.go
  pkg/forms/user.go
Owners: @lucaslehot

fix(router): #15 - update outdated routes
  internal/router/router.go
Owners: @lucaslehot

fix(router): #15 - remove secrets manager read route
  internal/router/router.go
Owners: @lucaslehot

fix(controller): #15 - remove secrets manager read method
  internal/controllers/secretsManager.go
  internal/middlewares/secretsManager.go
Owners: @lucaslehot

fix(main): fix aws region
  cmd/sample-api/main.go
Owners: @lucaslehot

feat(scheduler): #16 - create simple scheduler
  internal/queue/scheduler.go
Owners: @lucaslehot

fix(middlewares) #44 - fix createUsers
  internal/controllers/users.go
  internal/middlewares/users.go
Owners: @lucaslehot

fix(md): right image for ui"
  .github/workflows/md.release.yml
Owners: @blyndusk

feat(worker): #16 - limit sqs message sending
  internal/queue/scheduler.go
  internal/queue/sendMessage.go
Owners: @lucaslehot

fix(md): ui image"
  .github/workflows/md.release.yml
Owners: @blyndusk

fix(md): ui image"
  .github/workflows/md.release.yml
Owners: @blyndusk

feat(worker): #16 - update
  cmd/sample-api/main.go
  internal/queue/scheduler.go
Owners: @lucaslehot

doc(license): #37 - adjust copyright date
  LICENSE
Owners: none

feat(web): #8 remove useless elements, comments useless imports
  web/src/components/authentication/amplify-login.tsx
  web/src/components/authentication/auth0-login.tsx
  web/src/components/authentication/firebase-login.tsx
  web/src/components/authentication/jwt-login.tsx
  web/src/components/dashboard/azure/order-drawer.tsx
  web/src/components/dashboard/azure/order-items.tsx
  web/src/components/dashboard/azure/order-list-table.tsx
  web/src/components/dashboard/azure/order-logs.tsx
  web/src/components/dashboard/azure/order-summary.tsx
  web/src/components/dashboard/dashboard-sidebar.tsx
  web/src/components/dashboard/scaleway/customer-emails-summary.tsx
  web/src/components/dashboard/scaleway/customer-invoices.tsx
  web/src/components/dashboard/scaleway/customer-logs.tsx
  web/src/components/dashboard/social/social-connections.tsx
  web/src/components/dashboard/social/social-timeline.tsx
  web/src/pages/dashboard/AWS/index.tsx
  web/src/pages/dashboard/azure/[orderId].tsx
  web/src/pages/dashboard/azure/index.tsx
  web/src/pages/dashboard/invoices/[invoiceId].tsx
  web/src/pages/dashboard/invoices/index.tsx
  web/src/pages/dashboard/scaleway/[customerId]/edit.tsx
  web/src/pages/dashboard/scaleway/[customerId]/index.tsx
  web/src/pages/dashboard/scaleway/index.tsx
  web/src/pages/dashboard/social/feed.tsx
  web/src/pages/dashboard/social/profile.tsx
Owners: @Ban0vsky

feat(web): #8 remove useless elements, comments useless imports
  web/src/components/dashboard/account-popover.tsx
Owners: @Ban0vsky

feat(web): #8 improve views
  web/src/components/dashboard/account/account-general-settings.tsx
Owners: @Ban0vsky

fix(tf): #47 - remove useless files
  deploy/terraform/.terraform.lock.hcl
  deploy/terraform/provider.tf
  deploy/terraform/variables.tf
Owners: @blyndusk

add(example): - add a json iam strategy file
  worker/clientIAMStrategyExample.json
Owners: @lucaslehot

fix(k8s): #47 - add infra ressources
  deploy/kubernetes/infra/cluster/cluster-cert.pem
  deploy/kubernetes/infra/cluster/mycert.pem
Owners: @blyndusk

.github/CODEOWNERS:

.github/ @blyndusk
ops/ @blyndusk
build/ @blyndusk
deploy/ @blyndusk
scripts/ @blyndusk

cmd/ @lucaslehot
config/ @lucaslehot
internal/ @lucaslehot
pkg/ @lucaslehot
worker/ @lucaslehot

web/ @Ban0vsky
