Repository alexandre-delaloy/flamingops, changes with the labels that .github/labeler.yml gives for each.
All labels: go, react, docker, cicd, infra, doc

.github/labeler.yml:

go:
  - "**/*.go"
  - "**/go.*"

react:
  - "web/src/**/*.js"
  - "web/src/**/*.jsx"
  - "web/package*"

docker:
  - "**/Dockerfile"
  - "**/docker-compose.*"

cicd:
  - ".github/**/*.yml"

infra:
  - "**/env/**/*.env"
  - "**/env/**/*.env.*"

doc:
  - "**/*.md"
  - "**/assets/**/*"

doc(specs): #1 - 1st redaction of tech + functional specs
  docs/main.md
Labels: doc

doc(specs): #1 - specs
  docs/api.md
  docs/main.md
Labels: doc

add(swagger): #2 - add swagger on github pages
  docs/dist/favicon-16x16.png
  docs/dist/favicon-32x32.png
  docs/dist/oauth2-redirect.html
  docs/dist/swagger-ui-bundle.js
  docs/dist/swagger-ui-es-bundle-core.js
  docs/dist/swagger-ui-es-bundle-core.js.map
  docs/dist/swagger-ui-es-bundle.js
  docs/dist/swagger-ui-standalone-preset.js
  docs/dist/swagger-ui-standalone-preset.js.map
  docs/dist/swagger-ui.css
  docs/dist/swagger-ui.css.map
  docs/dist/swagger-ui.js
  docs/dist/swagger-ui.js.map
  docs/index.html
  docs/swagger.yaml
Labels: none

doc(diagram): #1 - add db + archi diagrams
  docs/MAIN.md
  docs/archi-diagram.png
  docs/db-diagram.png
  docs/specifications.md
Labels: doc

doc(diagram): #1 - add db + archi diagrams
  docs/db-diagram.png
Labels: none

doc(diagram): #1 - add db + archi diagrams
  docs/db-diagram.png
Labels: none

commits own swagger
  docs/index.html
  docs/swagger.yaml
Labels: none

doc(swagger): #2 - fixing stupid error
  docs/index.html
Labels: none

add(image): #6 - Add image via upload
  assets/flamingo_v2.png
Labels: doc

doc(readme): #6 - Update readme.md
  README.md
Labels: doc

add(db): #12 - Create models
  internal/controllers/fixtures.go
  internal/database/migration.go
  internal/middlewares/users.go
  pkg/models/awsCredentials.go
  pkg/models/awsServicesDatas.go
  pkg/models/displayPreferences.go
  pkg/models/swCredentials.go
  pkg/models/swServicesDatas.go
  pkg/models/users.go
Labels: go

add(secretsmanager): #18 - Create controller and middleware methods
  go.mod
  go.sum
  internal/controllers/secretsManager.go
  internal/middlewares/secretsManager.go
Labels: go

refacto(secretsmanager): #18 - Run linter
  internal/controllers/secretsManager.go
  internal/middlewares/secretsManager.go
Labels: go

add(k8s): #22 - helm codebase
  deploy/kubernetes/.helmignore
  deploy/kubernetes/Chart.yaml
  deploy/kubernetes/Makefile
Labels: none

fix(secretsmanager): #18 - Remove unused packages
  internal/middlewares/secretsManager.go
Labels: go

upd(k8s): #22 - base values
  deploy/kubernetes/envs/kubeconfig
  deploy/kubernetes/envs/kubeconfig.base64
  deploy/kubernetes/envs/values.yaml
Labels: none

fix(secretsmanager): #18 - Remove unused packages
  internal/middlewares/secretsManager.go
Labels: go

upd(k8s): #22 - helpers + tpl
  deploy/kubernetes/templates/NOTES.txt
  deploy/kubernetes/templates/_helpers.tpl
  deploy/kubernetes/templates/cert.yaml
  deploy/kubernetes/templates/issuer.yaml
  deploy/kubernetes/templates/regsec.yaml
Labels: none

upd(k8s): #22 - helpers + tpl
  deploy/kubernetes/templates/regsec.yaml
Labels: none

fix(secretsmanager): #18 - Remove unused packages
  internal/controllers/secretsManager.go
Labels: go

fix(secretsmanager): #18 - Remove unused packages
  internal/controllers/secretsManager.go
Labels: go

upd(k8s): #22 - fix port
  build/package/sample-api/Dockerfile
  deploy/kubernetes/envs/output.yaml
  deploy/kubernetes/envs/values.yaml
Labels: docker

upd(k8s): #22 - deploy + svc
  deploy/kubernetes/templates/deploy/go.yaml
  deploy/kubernetes/templates/deploy/node.yaml
  deploy/kubernetes/templates/svc/go.yaml
  deploy/kubernetes/templates/svc/node.yaml
Labels: go

upd(k8s): #22 - chart v1
  deploy/kubernetes/templates/_helpers.tpl
  deploy/kubernetes/templates/ingress.yaml
  deploy/kubernetes/templates/regsec.yaml
Labels: none

del(k8s): #22 - sensitive data
  deploy/kubernetes/envs/kubeconfig
  deploy/kubernetes/envs/kubeconfig.base64
Labels: none

del(k8s): #22 - sensitive data
  .gitignore
Labels: none

add(secretsmanager): #18 - Creating corresponding routes
  internal/router/router.go
Labels: go

add(worker): #16 - draft on queue worker implementation
  .aws/config
  .aws/credentials.exemple
  .gitignore
  cmd/sample-api/main.go
  go.mod
  go.sum
  internal/queue/sendMessage.go
Labels: go

Removed unused template resources, awaiting cleanup and dockerization
  .gitignore
  web/.env.example
  web/.eslintrc.json
  web/.gitattributes
  web/.gitignore
Labels: none

upd(ci): #28 - add web ci
  .github/workflows/ci.web.yml
Labels: cicd

upd(docker): #28 - add loc + prod dockerfile
  build/package/web/Dockerfile.loc
  build/package/web/Dockerfile.prod
  build/package/web/default.conf
Labels: none

fix(web): #28 - next version
  web/package-lock.json
  web/package.json
Labels: react

fix(wf): #28 - ci/cd files coherence
  .github/workflows/cd.go.yml
  .github/workflows/cd.web.yml
  .github/workflows/ci.go.yml
  .github/workflows/ci.web.yml
Labels: cicd

fix(web): #28 - docs folder
  web/_docs/.gitkeep
Labels: none

fix(web): #28 - docs folder
  web/_docs/.gitkeep
  web/_docs/.gitkeep.md
Labels: doc

upd(docker): #28 - full dockerization
  build/package/sample-api/.air.conf
  deploy/docker-compose.yml
  scripts/start.sh
Labels: docker

upd(docker): #28 - badges
  README.md
Labels: doc

add(worker): #16 - draft on lambdas implementation
  flamingops_lambda/index.js
  flamingops_lambda/secretsManager.js
  flamingops_lambda/servicesCalls/index.js
  flamingops_lambda/servicesCalls/s3_index.js
  flamingops_lambda/servicesCalls/s3_show.js
  internal/queue/sendMessage.go
Labels: go

add(worker): #16 - create all aws api calls
  flamingops_lambda/index.js
  flamingops_lambda/servicesCalls/aws/cw_listMetrics.js
  flamingops_lambda/servicesCalls/aws/dynamodb_listTables.js
  flamingops_lambda/servicesCalls/aws/iam_listUsers.js
  flamingops_lambda/servicesCalls/aws/index.js
  flamingops_lambda/servicesCalls/aws/s3_listBuckets.js
  flamingops_lambda/servicesCalls/aws/s3_showBucket.js
  flamingops_lambda/servicesCalls/aws/ses_listIdentities.js
  flamingops_lambda/servicesCalls/aws/sns_listSubscriptions.js
  flamingops_lambda/servicesCalls/aws/sns_listTopics.js
  flamingops_lambda/servicesCalls/aws/sqs_listQueues.js
  flamingops_lambda/servicesCalls/index.js
  flamingops_lambda/servicesCalls/s3_index.js
  flamingops_lambda/servicesCalls/s3_show.js
  flamingops_lambda/servicesCalls/sw/index.js
Labels: none

add(REACT) #8 added JWT api call
  README.md
  cmd/sample-api/main.go
  deploy/docker-compose.yml
  web/next-env.d.ts
  web/src/__fake-api__/auth-api.ts
  web/src/contexts/jwt-context.tsx
  web/src/types/user.ts
  web/yarn.lock
Labels: go, docker, doc
